*{
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 1%;
}

.gridApp {
  padding: 0;
}

.card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 200px;
}

.titleApp {
  display: flex;
  justify-content: center;
}

.categorytitle {
  display: flex;
  justify-content: center;
  padding: 2%;
}

.cardgrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.cardtitle {
  background-color: rgba(255, 254, 254, 0.345);
  display: flex;
  font-size: 1.4vh!important;
  font-weight: bold;
  justify-content: center;
  margin-top: 0;
  padding: 2%!important;
}